TDPortal/Codebase/TransportDirect/WebServices/EnhancedExposedServices/JourneyPlannerSynchronous/V1/schemas/JourneyPlannerSynchronous.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlannerSynchronous.V1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlannerSynchronous.V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlannerSynchronous.V1">
      <s:element name="PlanPublicJourney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId">
                <s:simpleType>
                    <s:restriction base="s:string">
                    <s:minLength value="1"/>
                    <s:maxLength value="100"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>                       
            <s:element minOccurs="1" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="request" type="tns:PublicJourneyRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PublicJourneyRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsReturnRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OutwardArriveBefore" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnArriveBefore" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OutwardDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InterchangeSpeed">
              <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="-3"/>
                        <s:maxInclusive value="3"/>
                    </s:restriction>
              </s:simpleType>          
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="WalkingSpeed">
			    <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="40"/>
                        <s:maxInclusive value="120"/>
                    </s:restriction>
              </s:simpleType> 
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="MaxWalkingTime">
              <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="5"/>
                        <s:maxInclusive value="30"/>
                    </s:restriction>
              </s:simpleType>                    
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="OriginLocation" type="tns:RequestLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationLocation" type="tns:RequestLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="Sequence">
              <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="1"/>
                        <s:maxInclusive value="5"/>
                    </s:restriction>
              </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:LocationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GridReference" type="tns:OSGridReference" />
          <s:element minOccurs="0" maxOccurs="1" name="NaPTANs" type="tns:ArrayOfNaptan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OSGridReference">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Easting">
            <s:simpleType>
              <s:restriction base="s:int">
                <s:minInclusive value="0"/>
                <s:maxInclusive value="800000"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="Northing">
            <s:simpleType>
              <s:restriction base="s:int">
                <s:minInclusive value="0"/>
                <s:maxInclusive value="1350000"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNaptan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="Naptan" nillable="true" type="tns:Naptan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Naptan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GridReference" type="tns:OSGridReference" />
          <s:element minOccurs="1" maxOccurs="1" name="NaptanId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocationType">
        <s:restriction base="s:string">         
          <s:enumeration value="Postcode" />
          <s:enumeration value="NaPTAN" />
          <s:enumeration value="Coordinate" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PlanPublicJourneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlanPublicJourneyResult" type="tns:PublicJourneyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PublicJourneyResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserWarnings" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardPublicJourneys" type="tns:ArrayOfPublicJourney" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnPublicJourneys" type="tns:ArrayOfPublicJourney" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPublicJourney">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PublicJourney" nillable="true" type="tns:PublicJourney" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PublicJourney">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Details" type="tns:ArrayOfPublicJourneyDetail" />
          <s:element minOccurs="1" maxOccurs="1" name="Summary" type="tns:JourneySummary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPublicJourneyDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PublicJourneyDetail" nillable="true" type="tns:PublicJourneyDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PublicJourneyDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:LegType" />
          <s:element minOccurs="1" maxOccurs="1" name="Mode" type="tns:ModeType" />
          <s:element minOccurs="1" maxOccurs="1" name="ModeText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DurationText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InstructionText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LegStart" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="1" maxOccurs="1" name="LegEnd" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="IntermediatesBefore" type="tns:ArrayOfPublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="IntermediatesLeg" type="tns:ArrayOfPublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="IntermediatesAfter" type="tns:ArrayOfPublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="tns:ArrayOfServiceDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleFeatures" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleFeaturesText" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayNotes" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="MinFrequency" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxFrequency" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FrequencyText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxDuration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxDurationText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LegType">
        <s:restriction base="s:string">
          <s:enumeration value="Timed" />
          <s:enumeration value="Frequency" />
          <s:enumeration value="Continuous" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ModeType">
        <s:restriction base="s:string">
          <s:enumeration value="Air" />
          <s:enumeration value="Bus" />
          <s:enumeration value="Car" />
          <s:enumeration value="CheckIn" />
          <s:enumeration value="CheckOut" />
          <s:enumeration value="Coach" />
          <s:enumeration value="Cycle" />
          <s:enumeration value="Drt" />
          <s:enumeration value="Ferry" />
          <s:enumeration value="Metro" />
          <s:enumeration value="Rail" />
          <s:enumeration value="RailReplacementBus" />
          <s:enumeration value="Taxi" />
          <s:enumeration value="Telecabine" />
          <s:enumeration value="Tram" />
          <s:enumeration value="Transfer" />
          <s:enumeration value="Underground" />
          <s:enumeration value="Walk" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PublicJourneyCallingPoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Location" type="tns:ResponseLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PublicJourneyCallingPointType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GridReference" type="tns:OSGridReference" />
          <s:element minOccurs="0" maxOccurs="1" name="Naptan" type="tns:Naptan" />
          <s:element minOccurs="1" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PublicJourneyCallingPointType">
        <s:restriction base="s:string">
          <s:enumeration value="Origin" />
          <s:enumeration value="Destination" />
          <s:enumeration value="Board" />
          <s:enumeration value="Alight" />
          <s:enumeration value="CallingPoint" />
          <s:enumeration value="PassingPoint" />
          <s:enumeration value="OriginAndBoard" />
          <s:enumeration value="DestinationAndAlight" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPublicJourneyCallingPoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PublicJourneyCallingPoint" nillable="true" type="tns:PublicJourneyCallingPoint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceDetails" nillable="true" type="tns:ServiceDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OperatorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationBoard" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="JourneySummary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Modes" type="tns:ArrayOfModeType" />
          <s:element minOccurs="1" maxOccurs="1" name="ModesText" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="InterchangeCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfModeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModeType" type="tns:ModeType" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PlanPublicJourneySoapIn">
    <wsdl:part name="parameters" element="tns:PlanPublicJourney" />
  </wsdl:message>
  <wsdl:message name="PlanPublicJourneySoapOut">
    <wsdl:part name="parameters" element="tns:PlanPublicJourneyResponse" />
  </wsdl:message>
  <wsdl:portType name="JourneyPlannerSynchronousServiceSoap">
    <wsdl:operation name="PlanPublicJourney">
      <wsdl:input message="tns:PlanPublicJourneySoapIn" />
      <wsdl:output message="tns:PlanPublicJourneySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JourneyPlannerSynchronousServiceSoap" type="tns:JourneyPlannerSynchronousServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="PlanPublicJourney">
      <soap:operation soapAction="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlannerSynchronous.V1/PlanPublicJourney" style="document" />
      <wsdl:input> 
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JourneyPlannerSynchronousService">
    <wsdl:port name="JourneyPlannerSynchronousServiceSoap" binding="tns:JourneyPlannerSynchronousServiceSoap">
      <soap:address location="http://www.transportdirect.info/EnhancedExposedServices/JourneyPlannerSynchronous/V1/JourneyPlannerSynchronousService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
