TDPortal/Codebase/TransportDirect/WebServices/EnhancedExposedServices/Test/schemas/TestWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TestWebService" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TestWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TestWebService">
      <s:element name="RequestContextData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestContextDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestContextDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSDLValidation">
        <s:complexType>
          <s:sequence>
		    <s:element minOccurs="1" maxOccurs="1" name="transactionId">
                <s:simpleType>
                    <s:restriction base="s:string">
						<s:minLength value="1"/>
						<s:maxLength value="100"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="param1">
                <s:simpleType>
                    <s:restriction base="s:int">
						<s:minInclusive value="1"/>
						<s:maxInclusive value="100"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="param2">
                <s:simpleType>
                    <s:restriction base="s:string">
					  <s:pattern value="[a-zA-Z]{2}\d{1}"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSDLValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSDLValidationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestContextDataSoapIn">
    <wsdl:part name="parameters" element="tns:RequestContextData" />
  </wsdl:message>
  <wsdl:message name="RequestContextDataSoapOut">
    <wsdl:part name="parameters" element="tns:RequestContextDataResponse" />
  </wsdl:message>
  <wsdl:message name="WSDLValidationSoapIn">
    <wsdl:part name="parameters" element="tns:WSDLValidation" />
  </wsdl:message>
  <wsdl:message name="WSDLValidationSoapOut">
    <wsdl:part name="parameters" element="tns:WSDLValidationResponse" />
  </wsdl:message>
  <wsdl:portType name="TestWebServiceSoap">
    <wsdl:operation name="RequestContextData">
      <wsdl:input message="tns:RequestContextDataSoapIn" />
      <wsdl:output message="tns:RequestContextDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSDLValidation">
      <wsdl:input message="tns:WSDLValidationSoapIn" />
      <wsdl:output message="tns:WSDLValidationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebServiceSoap" type="tns:TestWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RequestContextData">
      <soap:operation soapAction="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TestWebService/RequestContextData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSDLValidation">
      <soap:operation soapAction="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TestWebService/WSDLValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="TestWebServiceSoap" binding="tns:TestWebServiceSoap">
      <soap:address location="http://localhost/EnhancedExposedServices/Test/TestWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>