TDPortal/Codebase/TransportDirect/WebServices/EnhancedExposedServices/TaxiInformation/V1/schemas/TaxiInformationservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TaxiInformation.V1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TaxiInformation.V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TaxiInformation.V1">
      <s:element name="GetTaxiInfo">
        <s:complexType>
          <s:sequence>
           <s:element minOccurs="1" maxOccurs="1" name="transactionId">
                <s:simpleType>
                    <s:restriction base="s:string">
                    <s:minLength value="1"/>
                    <s:maxLength value="100"/>
                    </s:restriction>
                </s:simpleType>
			</s:element>       

            <s:element minOccurs="1" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="naptanId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaxiInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaxiInfoResult" type="tns:TaxiInformationStopDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxiInformationStopDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StopName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StopNaptan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Operators" type="tns:ArrayOfTaxiInformationOperator" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternativeStops" type="tns:ArrayOfTaxiInformationStopDetail" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessibleOperatorPresent" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessibleText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InformationAvailable" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaxiInformationOperator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaxiInformationOperator" nillable="true" type="tns:TaxiInformationOperator" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaxiInformationOperator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Accessible" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaxiInformationStopDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaxiInformationStopDetail" nillable="true" type="tns:TaxiInformationStopDetail" />
        </s:sequence>
      </s:complexType>
      <s:element name="TaxiInformationStopDetail" nillable="true" type="tns:TaxiInformationStopDetail" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTaxiInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaxiInfo" />
  </wsdl:message>
  <wsdl:message name="GetTaxiInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaxiInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaxiInfoHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
    <wsdl:part name="language" type="s:string" />
    <wsdl:part name="naptanId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTaxiInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:TaxiInformationStopDetail" />
  </wsdl:message>
  <wsdl:portType name="TaxiInformationServiceSoap">
    <wsdl:operation name="GetTaxiInfo">
      <wsdl:input message="tns:GetTaxiInfoSoapIn" />
      <wsdl:output message="tns:GetTaxiInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TaxiInformationServiceHttpPost">
    <wsdl:operation name="GetTaxiInfo">
      <wsdl:input message="tns:GetTaxiInfoHttpPostIn" />
      <wsdl:output message="tns:GetTaxiInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaxiInformationServiceSoap" type="tns:TaxiInformationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetTaxiInfo">
      <soap:operation soapAction="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.TaxiInformation.V1/GetTaxiInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="http://www.transportdirect.info/TaxiInformationServiceHttpPost" type="tns:TaxiInformationServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTaxiInfo">
      <http:operation location="/GetTaxiInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaxiInformationService">
    <wsdl:port name="TaxiInformationServiceSoap" binding="tns:TaxiInformationServiceSoap">
      <soap:address location="http://www.transportdirect.info/EnhancedExposedServices/TaxiInformation/v1/TaxiInformationservice.asmx" />
    </wsdl:port>
    <wsdl:port name="TaxiInformationServiceHttpPost" binding="tns:TaxiInformationServiceHttpPost">
      <http:address location="http://www.transportdirect.info/EnhancedExposedServices/TaxiInformation/v1/TaxiInformationservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>