TDPortal/Gateway/xml/TravelNews.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Joe Morrissey (Atos Origin) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<!-- Updated to include 'Route disruption' value     for vantive 3383491 -->
<!-- Updated to include 'Sea Crossing' value         for vantive 3401467 -->
<!-- Capitalised 'Route Disruption' value            for vantive 3405206 -->
<!-- Updated for new Trafficlink fields              for CCN485a Hierarchy and Times of Roadworks -->
<!-- Updated for TOIDs Affected fields				 for CCN0582 Real Time Information in Car Prototype -->
<xs:schema targetNamespace="http://www.transportdirect.info/travelnews" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.transportdirect.info/travelnews" elementFormDefault="qualified">
	<xs:element name="Region">
		<xs:complexType>
			<xs:attribute name="uid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="regionName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
						<xs:enumeration value="East Anglia" />
						<xs:enumeration value="East Midlands" />
						<xs:enumeration value="London" />
						<xs:enumeration value="North East" />
						<xs:enumeration value="North West" />
						<xs:enumeration value="South East" />
						<xs:enumeration value="South West" />
						<xs:enumeration value="West Midlands" />
						<xs:enumeration value="Yorkshire and Humber" />
						<xs:enumeration value="Scotland" />
						<xs:enumeration value="Wales" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationRef">
		<xs:annotation>
			<xs:documentation>Future Requirement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="locationCodeReference" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ScopeOfArea">
		<xs:annotation>
			<xs:documentation>Future Requirement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="coordinates" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="IncidentDataSource">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
  <xs:element name="stationsImpacted">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="station" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tocsImpacted">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="toc" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:element name="TOIDAffected">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TOIDsAffected">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOIDAffected" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Incident">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stationsImpacted" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="tocsImpacted" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="Region" maxOccurs="unbounded" />
				<xs:element ref="LocationRef" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="ScopeOfArea" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="IncidentDataSource" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="TOIDsAffected" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="uid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="parent_uid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="incident_change_status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="severity" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
						<xs:enumeration value="Critical" />
						<xs:enumeration value="Serious" />
						<xs:enumeration value="Very Severe" />
						<xs:enumeration value="Severe" />
						<xs:enumeration value="Medium" />
						<xs:enumeration value="Slight" />
						<xs:enumeration value="Very Slight" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="carriageway_direction" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
						<xs:enumeration value="both ways" />
						<xs:enumeration value="None" />
						<xs:enumeration value="Northbound" />
						<xs:enumeration value="Southbound" />
						<xs:enumeration value="Eastbound" />
						<xs:enumeration value="Westbound" />
						<xs:enumeration value="clockwise" />
						<xs:enumeration value="anticlockwise" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="road_number" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="publicTransportOperator" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="modeOfTransport" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="location" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="incidentType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="roadType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="headlineText" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="detailText" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="350" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="incidentStatus" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
						<xs:enumeration value="O" />
						<xs:enumeration value="P" />
						<xs:enumeration value="C" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="easting" type="xs:double" use="required" />
			<xs:attribute name="northing" type="xs:double" use="required" />
			<xs:attribute name="reportedDatetime" type="xs:dateTime" use="required" />
			<xs:attribute name="startDatetime" type="xs:dateTime" use="required" />
			<xs:attribute name="lastModifiedDatetime" type="xs:dateTime" use="required" />
			<xs:attribute name="clearedDatetime" type="xs:dateTime" use="optional" />
			<xs:attribute name="expiryDatetime" type="xs:dateTime" use="optional" />
			<xs:attribute name="daily_startDatetime" type="xs:time" use="optional" />
			<xs:attribute name="daily_endDatetime" type="xs:time" use="optional" />
			<xs:attribute name="daymask" type="xs:string" use="optional" />
			<xs:attribute name="locationCodeReference" type="xs:string" use="optional" />
			<xs:attribute name="sourceOfLocationData" type="xs:string" use="optional" />
			<xs:attribute name="areaScopeCoordinates" type="xs:string" use="optional" />
			<xs:attribute name="plannedIncident" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TrafficAndTravelNewsData">
		<xs:annotation>
			<xs:documentation>TransportDirect IF00908 TravelNews Copyright Atos Origin 2011</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Incident" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="version" use="required" fixed="IF00908">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>