TDPortal/Codebase/TransportDirect/EnhancedExposedServiceConsumers/Test/V1/schemas/TestResultConsumer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionResult" type="tns:SoapTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SoapTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SoapRequest" type="tns:SoapRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapResponse" type="tns:SoapResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusEnum" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoapRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebService" type="tns:Webservice" />
          <s:element minOccurs="1" maxOccurs="1" name="DateRequested" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Webservice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WsdlPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapHeaderPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebServiceMethods" type="tns:ArrayOfWebServiceMethod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWebServiceMethod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebServiceMethod" nillable="true" type="tns:WebServiceMethod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebServiceMethod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapAction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MethodNamespace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutputPage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAsync" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="XsltPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoapResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebService" type="tns:Webservice" />
          <s:element minOccurs="1" maxOccurs="1" name="DateReceived" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Created" />
          <s:enumeration value="Pending" />
          <s:enumeration value="Received" />
          <s:enumeration value="Error" />
          <s:enumeration value="All" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DeleteTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTransactionResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidResponseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoapTransaction" nillable="true" type="tns:SoapTransaction" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransaction" />
  </wsdl:message>
  <wsdl:message name="GetTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTransaction" />
  </wsdl:message>
  <wsdl:message name="DeleteTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidResponseSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidResponseSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidResponseResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionHttpPostOut">
    <wsdl:part name="Body" element="tns:SoapTransaction" />
  </wsdl:message>
  <wsdl:message name="DeleteTransactionHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteTransactionHttpPostOut" />
  <wsdl:message name="IsValidResponseHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsValidResponseHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="NunitServiceSoap">
    <wsdl:operation name="GetTransaction">
      <wsdl:input message="tns:GetTransactionSoapIn" />
      <wsdl:output message="tns:GetTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input message="tns:DeleteTransactionSoapIn" />
      <wsdl:output message="tns:DeleteTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidResponse">
      <wsdl:input message="tns:IsValidResponseSoapIn" />
      <wsdl:output message="tns:IsValidResponseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NunitServiceHttpPost">
    <wsdl:operation name="GetTransaction">
      <wsdl:input message="tns:GetTransactionHttpPostIn" />
      <wsdl:output message="tns:GetTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input message="tns:DeleteTransactionHttpPostIn" />
      <wsdl:output message="tns:DeleteTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidResponse">
      <wsdl:input message="tns:IsValidResponseHttpPostIn" />
      <wsdl:output message="tns:IsValidResponseHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NunitServiceSoap" type="tns:NunitServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetTransaction">
      <soap:operation soapAction="http://tempuri.org/GetTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap:operation soapAction="http://tempuri.org/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidResponse">
      <soap:operation soapAction="http://tempuri.org/IsValidResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NunitServiceHttpPost" type="tns:NunitServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTransaction">
      <http:operation location="/GetTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <http:operation location="/DeleteTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsValidResponse">
      <http:operation location="/IsValidResponse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NunitService">
    <wsdl:port name="NunitServiceSoap" binding="tns:NunitServiceSoap">
      <soap:address location="http://localhost/ExposedServicesTestToolClient/webservices/nunitservice.asmx" />
    </wsdl:port>
    <wsdl:port name="NunitServiceHttpPost" binding="tns:NunitServiceHttpPost">
      <http:address location="http://localhost/ExposedServicesTestToolClient/webservices/nunitservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>