TDPortal/Codebase/TransportDirect/WebServices/EnhancedExposedServices/JourneyPlanner/V1/schemas/JourneyPlanner.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlanner.V1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlanner.V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlanner.V1">
      <s:element name="PlanPublicJourney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId">
                <s:simpleType>
                    <s:restriction base="s:string">
                    <s:minLength value="1"/>
                    <s:maxLength value="100"/>
                    </s:restriction>
                </s:simpleType>
            </s:element>                       
            <s:element minOccurs="1" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="request" type="tns:PublicJourneyRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PublicJourneyRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsReturnRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OutwardArriveBefore" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnArriveBefore" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OutwardDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InterchangeSpeed">
              <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="-3"/>
                        <s:maxInclusive value="3"/>
                    </s:restriction>
              </s:simpleType>          
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="WalkingSpeed">
			   <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="40"/>
                        <s:maxInclusive value="120"/>
                    </s:restriction>
              </s:simpleType> 
          </s:element> 
          <s:element minOccurs="1" maxOccurs="1" name="MaxWalkingTime">
              <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="5"/>
                        <s:maxInclusive value="30"/>
                    </s:restriction>
              </s:simpleType>                    
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="OriginLocation" type="tns:RequestLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationLocation" type="tns:RequestLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="Sequence">
              <s:simpleType>
                    <s:restriction base="s:int">
                        <s:minInclusive value="1"/>
                        <s:maxInclusive value="5"/>
                    </s:restriction>
              </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:LocationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GridReference" type="tns:OSGridReference" />
          <s:element minOccurs="0" maxOccurs="1" name="NaPTANs" type="tns:ArrayOfNaptan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OSGridReference">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Easting">
            <s:simpleType>
              <s:restriction base="s:int">
                <s:minInclusive value="0"/>
                <s:maxInclusive value="800000"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="Northing">
            <s:simpleType>
              <s:restriction base="s:int">
                <s:minInclusive value="0"/>
                <s:maxInclusive value="1350000"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNaptan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Naptan" nillable="true" type="tns:Naptan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Naptan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GridReference" type="tns:OSGridReference" />
          <s:element minOccurs="0" maxOccurs="1" name="NaptanId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocationType">
        <s:restriction base="s:string">        
          <s:enumeration value="Postcode" />
          <s:enumeration value="Coordinate" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PlanPublicJourneyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PlanPublicJourneySoapIn">
    <wsdl:part name="parameters" element="tns:PlanPublicJourney" />
  </wsdl:message>
  <wsdl:message name="PlanPublicJourneySoapOut">
    <wsdl:part name="parameters" element="tns:PlanPublicJourneyResponse" />
  </wsdl:message>
  <wsdl:portType name="JourneyPlannerServiceSoap">
    <wsdl:operation name="PlanPublicJourney">
      <wsdl:input message="tns:PlanPublicJourneySoapIn" />
      <wsdl:output message="tns:PlanPublicJourneySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JourneyPlannerServiceSoap" type="tns:JourneyPlannerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="PlanPublicJourney">
      <soap:operation soapAction="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyPlanner.V1/PlanPublicJourney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JourneyPlannerService">
    <wsdl:port name="JourneyPlannerServiceSoap" binding="tns:JourneyPlannerServiceSoap">
      <soap:address location="http://www.transportdirect.info/EnhancedExposedServices/JourneyPlanner/V1/JourneyPlannerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
