TDPortal/Codebase/TransportDirect/EnhancedExposedServiceConsumers/JourneyResultConsumer/V1/schemas/JourneyResultConsumer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyResultConsumer.v1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyResultConsumer.v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyResultConsumer.v1">
      <s:element name="ConsumePublicJourneyResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:minLength value="1" />
                  <s:maxLength value="100" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:CompletionStatus" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:PublicJourneyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompletionStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusType" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatusType">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="ValidationError" />
          <s:enumeration value="Failed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PublicJourneyResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserWarnings" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardPublicJourneys" type="tns:ArrayOfPublicJourney" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnPublicJourneys" type="tns:ArrayOfPublicJourney" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPublicJourney">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PublicJourney" nillable="true" type="tns:PublicJourney" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PublicJourney">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Details" type="tns:ArrayOfPublicJourneyDetail" />
          <s:element minOccurs="1" maxOccurs="1" name="Summary" type="tns:JourneySummary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPublicJourneyDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PublicJourneyDetail" nillable="true" type="tns:PublicJourneyDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PublicJourneyDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:LegType" />
          <s:element minOccurs="1" maxOccurs="1" name="Mode" type="tns:ModeType" />
          <s:element minOccurs="1" maxOccurs="1" name="ModeText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DurationText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InstructionText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LegStart" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="1" maxOccurs="1" name="LegEnd" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="tns:PublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="IntermediatesBefore" type="tns:ArrayOfPublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="IntermediatesLeg" type="tns:ArrayOfPublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="IntermediatesAfter" type="tns:ArrayOfPublicJourneyCallingPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="tns:ArrayOfServiceDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleFeatures" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleFeaturesText" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayNotes" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="MinFrequency" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxFrequency" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FrequencyText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxDuration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxDurationText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LegType">
        <s:restriction base="s:string">
          <s:enumeration value="Timed" />
          <s:enumeration value="Frequency" />
          <s:enumeration value="Continuous" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ModeType">
        <s:restriction base="s:string">
          <s:enumeration value="Air" />
          <s:enumeration value="Bus" />
          <s:enumeration value="Car" />
          <s:enumeration value="CheckIn" />
          <s:enumeration value="CheckOut" />
          <s:enumeration value="Coach" />
          <s:enumeration value="Cycle" />
          <s:enumeration value="Drt" />
          <s:enumeration value="Ferry" />
          <s:enumeration value="Metro" />
          <s:enumeration value="Rail" />
          <s:enumeration value="RailReplacementBus" />
          <s:enumeration value="Taxi" />
          <s:enumeration value="Telecabine" />
          <s:enumeration value="Tram" />
          <s:enumeration value="Transfer" />
          <s:enumeration value="Underground" />
          <s:enumeration value="Walk" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PublicJourneyCallingPoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Location" type="tns:ResponseLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PublicJourneyCallingPointType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GridReference" type="tns:OSGridReference" />
          <s:element minOccurs="0" maxOccurs="1" name="Naptan" type="tns:Naptan" />
          <s:element minOccurs="1" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OSGridReference">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Easting" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Northing" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Naptan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GridReference" type="tns:OSGridReference" />
          <s:element minOccurs="0" maxOccurs="1" name="NaptanId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PublicJourneyCallingPointType">
        <s:restriction base="s:string">
          <s:enumeration value="Origin" />
          <s:enumeration value="Destination" />
          <s:enumeration value="Board" />
          <s:enumeration value="Alight" />
          <s:enumeration value="CallingPoint" />
          <s:enumeration value="PassingPoint" />
          <s:enumeration value="OriginAndBoard" />
          <s:enumeration value="DestinationAndAlight" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPublicJourneyCallingPoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PublicJourneyCallingPoint" nillable="true" type="tns:PublicJourneyCallingPoint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceDetails" nillable="true" type="tns:ServiceDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OperatorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationBoard" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="JourneySummary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Modes" type="tns:ArrayOfModeType" />
          <s:element minOccurs="1" maxOccurs="1" name="ModesText" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="InterchangeCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfModeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModeType" type="tns:ModeType" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsumePublicJourneyResultResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsumePublicJourneyResultSoapIn">
    <wsdl:part name="parameters" element="tns:ConsumePublicJourneyResult" />
  </wsdl:message>
  <wsdl:message name="ConsumePublicJourneyResultSoapOut">
    <wsdl:part name="parameters" element="tns:ConsumePublicJourneyResultResponse" />
  </wsdl:message>
  <wsdl:portType name="JourneyResultConsumerSoap">
    <wsdl:operation name="ConsumePublicJourneyResult">
      <wsdl:input message="tns:ConsumePublicJourneyResultSoapIn" />
      <wsdl:output message="tns:ConsumePublicJourneyResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JourneyResultConsumerSoap" type="tns:JourneyResultConsumerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="ConsumePublicJourneyResult">
      <soap:operation soapAction="http://www.transportdirect.info/TransportDirect.EnhancedExposedServices.JourneyResultConsumer.v1/ConsumePublicJourneyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JourneyResultConsumer">
    <wsdl:port name="JourneyResultConsumerSoap" binding="tns:JourneyResultConsumerSoap">
      <soap:address location="www.transportdirect.info/EnhancedExposedServices/JourneyPlanner/v1/JourneyResultConsumer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>